.wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

.columns {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 6rem;
}
